
.gitignore
# Python
__pycache__/
*.pyc
.vscode/
clp/.vscode/
env/

# Outputs
results/clp_tri_objective/
!results/README.md
!results/run_index.json

# OS/editor
.DS_Store
.vscode/

#other
clp/results/clp_tri_objective.egg-info/
clp/clp_tri_objective.egg-info/
datasets/
results/*


results/BR-Modified-NSGA2_bi/BR*/**
results/BR-Modified-NSGA2_bi/BR*/

results/BR-Modified-NSGA2_tri/BR*/
results/BR-Modified-NSGA2_tri/BR*/**

results/BR-Original1/BR*/
results/BR-Original1/BR*/**

results/BR-Original-two_phase/BR*/**


results/BR-Original/BR*/
results/BR-Original/BR*/**
